@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Make your Order below</h2>
<form>
    <button asp-controller="Home" asp-action="order">Click me to start your order</button>

</form>

<h2>Checkout below</h2>
<form>
    <button asp-controller="Home" asp-action="History">Click me to show all orders</button>

</form>